/*
================================================
  Reset v 2.1 [s3-mod]
================================================
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
a img{
border: 0 none;
}
ol, ul, menu {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

sub, sup {
  font-size: 65%;
  line-height: 1;
  vertical-align: baseline;
}
sup {
  vertical-align: top;
}
sub {
  vertical-align: bottom;
}

/* Elements of Form */
input:focus, textarea:focus, select:focus {
  outline: none;
}
input, select, button {
  vertical-align: baseline;
}
textarea {
  resize: vertical;
  min-height: 100px;
  max-width: 100%;
  overflow: auto;
}
textarea, select[multiple] {
  vertical-align: top;
}
input[type="color"] {
  vertical-align: middle;
}
input[type="radio"], input[type="checkbox"] {
  margin: 0 4px;
}

/* Pablex Object */
object video {
  display: none;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  object video {
    display: block !important;
  }
}


/*
================================================
  Default Tags Properties
================================================
*/
.row-vspace,
h1, h2, h3, h4, h5, h6,
hr, p, ul, ol {
  margin-top: 1em;
  margin-bottom: 1em;
}

ul, ol {
  margin-left: 1.4em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

a {
  outline: none;
  color: #0088cc;
}
a:hover {
  text-decoration: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  padding: 0;
}


/*
================================================
  Selectors Utility
================================================
*/
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}

.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden !important;
}
.visible {
  visibility: visible !important;
}

.fixed {
  position: fixed !important;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: '';
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

.clear-both {
  clear: both;
}

/* Tables */
table.table0 td,
table.table1 td,
table.table2 td,
table.table2 th {
  padding: 5px;
  border: 1px solid #afafaf;
  vertical-align: top;
}
table.table0 td {
  border: none;
}
table.table2 th {
  padding: 8px 5px;
  background: #595959;
  border: 1px solid #595959;
  border-bottom: 1px solid #afafaf;
  font-weight: normal;
  text-align: left;
}
