html, body {
	height: 100%;
}
.wrapper{
	height: auto !important;
	min-height: 100%;
	height: 100%;
	width: 100%;
	position: relative;
	background: green;
}
.footer{
	height:100px;
	margin:-100px 0 0 0;
	background: red;
position: relative;
}
.clear-footer{
	clear: both;
	height: 100px;
}
.clear{
clear: both;
}
.header{
	height: 100px;
	background: #fff;
	position:relative;
}
ul.nav{
 list-style:none;
 position: absolute;
 bottom: 10px;
 left:40%;
 padding: 0;
 margin:0;

}
ul.nav li{
	float:left;
	margin-right: 10px;
}
ul.nav li a{
	text-decoration: none;
	color:black;
	font-family: Verdana;
	font-size: 20px;
	padding:2px 6px;
}
ul.nav li a:hover{
	background: blue;
	color:#fff;
}
.sidebar{
	background: black;
	width:300px;
    height: 1000px;
	float: left;
}
.content{
	background: orange;
	height: 1000px;
	overflow: hidden;

}
