<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config />

    <bean id="textContentDao" class="ru.bramblehorse.cms.dao.impl.HibernateTextContentDao"></bean>
    <bean id="textContentService" class="ru.bramblehorse.cms.service.impl.TextContentServiceImpl">
        <property name="textContentDao" ref="textContentDao"></property>
    </bean>

    <bean id="tableContentDao" class="ru.bramblehorse.cms.dao.impl.HibernateTableContentDao"></bean>
    <bean id="tableContentService" class="ru.bramblehorse.cms.service.impl.TableContentServiceImpl">
        <property name="tableContentDao" ref="tableContentDao"></property>
    </bean>

    <bean id="imageContentDao" class="ru.bramblehorse.cms.dao.impl.HibernateImageContentDao"></bean>
    <bean id="imageContentService" class="ru.bramblehorse.cms.service.impl.ImageContentServiceImpl">
        <property name="imageContentDao" ref="imageContentDao"></property>
    </bean>

    <bean id="wysiwygContentDao" class="ru.bramblehorse.cms.dao.impl.HibernateWYSIWYGContentDao"></bean>
    <bean id="wysiwygContentService" class="ru.bramblehorse.cms.service.impl.WYSIWYGContentServiceImpl">
        <property name="wysiwygContentDao" ref="wysiwygContentDao"></property>
    </bean>

    <bean id="categoryDao" class="ru.bramblehorse.cms.dao.impl.HibernateCategoryDao"></bean>
    <bean id="categoryService" class="ru.bramblehorse.cms.service.impl.CategoryServiceImpl">
        <property name="categoryDao" ref="categoryDao"></property>
    </bean>

    <bean id="linkContentDao" class="ru.bramblehorse.cms.dao.impl.HibernateLinkContentDao"></bean>
    <bean id="linkContentService" class="ru.bramblehorse.cms.service.impl.LinkContentServiceImpl">
        <property name="linkContentDao" ref="linkContentDao"></property>
    </bean>

    <bean id="catalogCategoryDao" class="ru.bramblehorse.cms.dao.impl.HibernateCatalogCategoryDao"></bean>
    <bean id="catalogCategoryService" class="ru.bramblehorse.cms.service.impl.CatalogCategoryServiceImpl">
        <property name="catalogCategoryDao" ref="catalogCategoryDao"></property>
    </bean>

    <bean id="catalogCategoryFilterDao" class="ru.bramblehorse.cms.dao.impl.HibernateCatalogCategoryFilterDao"></bean>
    <bean id="catalogCategoryFilterService" class="ru.bramblehorse.cms.service.impl.CatalogCategoryFilterServiceImpl">
        <property name="catalogCategoryFilterDao" ref="catalogCategoryFilterDao"></property>
    </bean>

    <bean id="filterCriterionDao" class="ru.bramblehorse.cms.dao.impl.HibernateFilterCriterionDao"></bean>
    <bean id="filterCriterionService" class="ru.bramblehorse.cms.service.impl.FilterCriterionServiceImpl">
        <property name="filterCriterionDao" ref="filterCriterionDao"></property>
    </bean>

    <bean id="itemDao" class="ru.bramblehorse.cms.dao.impl.HibernateItemDao"></bean>
    <bean id="itemService" class="ru.bramblehorse.cms.service.impl.ItemServiceImpl">
        <property name="itemDao" ref="itemDao"></property>
    </bean>

    <bean id="brandDao" class="ru.bramblehorse.cms.dao.impl.HibernateBrandDao"></bean>
    <bean id="brandService" class="ru.bramblehorse.cms.service.impl.BrandServiceImpl">
        <property name="brandDao" ref="brandDao"></property>
    </bean>

    <bean id="accountDao" class="ru.bramblehorse.cms.dao.impl.HibernateAccountDao"></bean>
    <bean id="accountService" class="ru.bramblehorse.cms.service.impl.AccountServiceImpl">
        <property name="accountDao" ref="accountDao"></property>
    </bean>

    <bean id="tomcatRoleDao" class="ru.bramblehorse.cms.dao.impl.HibernateTomcatRoleDao"></bean>
    <bean id="tomcatRoleService" class="ru.bramblehorse.cms.service.impl.TomcatRoleServiceImpl">
        <property name="tomcatRoleDao" ref="tomcatRoleDao"></property>
    </bean>

</beans>