<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config />

    <bean id="textContentDao" class="ru.bramblehorse.cms.dao.impl.HibernateTextContentDao"></bean>
    <bean id="textContentService" class="ru.bramblehorse.cms.service.impl.TextContentService">
        <property name="textContentDao" ref="textContentDao"></property>
    </bean>
    <bean id="tableContentDao" class="ru.bramblehorse.cms.dao.impl.HibernateTableContentDao"></bean>
    <bean id="tableContentService" class="ru.bramblehorse.cms.service.impl.TableContentService">
        <property name="tableContentDao" ref="tableContentDao"></property>
    </bean>
    <bean id="categoryDao" class="ru.bramblehorse.cms.dao.impl.HibernateCategoryDao"></bean>
    <bean id="categoryService" class="ru.bramblehorse.cms.service.impl.CategoryService">
        <property name="categoryDao" ref="categoryDao"></property>
    </bean>

</beans>