<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/applicationContext.xml
            /WEB-INF/db-config.xml
        </param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <filter>
        <filter-name>FormEncodingSetterFilter</filter-name>
        <filter-class>ru.bramblehorse.cms.filter.FormEncodingSetterFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>FormEncodingSetterFilter</filter-name>
        <url-pattern>/index.do</url-pattern>
        <url-pattern>/admin.do</url-pattern>
        <url-pattern>/admin.categories.do</url-pattern>
        <url-pattern>/admin.content.do</url-pattern>
        <url-pattern>/image.upload.do</url-pattern>
        <url-pattern>/link.upload.do</url-pattern>
        <url-pattern>/settings.admin.do</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>hibernateFilter</filter-name>
        <filter-class>
            org.springframework.orm.hibernate3.support.OpenSessionInViewFilter
        </filter-class>
        <init-param>
            <param-name>singleSession</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>hibernateFilter</filter-name>
        <url-pattern>/index.do</url-pattern>
        <url-pattern>/admin.do</url-pattern>
        <url-pattern>/admin.categories.do</url-pattern>
        <url-pattern>/admin.content.do</url-pattern>
        <url-pattern>/image.upload.do</url-pattern>
        <url-pattern>/link.upload.do</url-pattern>
        <url-pattern>/settings.admin.do</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>mainServlet</servlet-name>
        <servlet-class>ru.bramblehorse.cms.controller.MainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mainServlet</servlet-name>
        <url-pattern>/index.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adminServlet</servlet-name>
        <servlet-class>ru.bramblehorse.cms.controller.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminServlet</servlet-name>
        <url-pattern>/admin.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>categoryAdminServlet</servlet-name>
        <servlet-class>ru.bramblehorse.cms.controller.CategoryAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>categoryAdminServlet</servlet-name>
        <url-pattern>/admin.categories.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>contentAdminServlet</servlet-name>
        <servlet-class>ru.bramblehorse.cms.controller.ContentAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>contentAdminServlet</servlet-name>
        <url-pattern>/admin.content.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>imageUploadServlet</servlet-name>
        <servlet-class>ru.bramblehorse.cms.controller.ImageUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>imageUploadServlet</servlet-name>
        <url-pattern>/image.upload.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>linkUploadServlet</servlet-name>
        <servlet-class>ru.bramblehorse.cms.controller.LinkUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>linkUploadServlet</servlet-name>
        <url-pattern>/link.upload.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>settingsAdminServlet</servlet-name>
        <servlet-class>ru.bramblehorse.cms.controller.SettingsAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>settingsAdminServlet</servlet-name>
        <url-pattern>/settings.admin.do</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.do</welcome-file>
    </welcome-file-list>

</web-app>